version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: db_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: auth_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mysql:
    image: mysql:8
    container_name: db_mysql
    environment:
      MYSQL_ROOT_PASSWORD: admin123
      MYSQL_DATABASE: tasks_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7
    container_name: cache_redis
    ports:
      - "6379:6379"

  adminer:
    image: adminer
    container_name: adminer_gui
    ports:
      - "8080:8080"

  auth-service:
    build: ./auth-service
    container_name: auth_service
    ports:
      - "8001:8001"
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      DATABASE_URL: mysql+pymysql://admin:admin123@db_mysql:3306/tasks_db
    networks:
      - default

volumes:
  postgres_data:
  mysql_data:

